<br><br><br><h1><span id="title">Begin file transfer to proceed...</span></h1>
<h2><br>
<div id="statusupdate" style="display:none">
	Number of Files: <span id="files">0</span><br>
	Total Size: <span id="size">0</span> bytes<br><br><br>
</div>
<div id="percentupdate" style="display:none"><b><span id="percent">0</span>% Complete</b></div>
</h2>
<div class="progress" id="progressb" style="width:40%; display:none;">
	<div id= "progbar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
	</div>
</div>
</br><button class="smallbutton" onclick="cancelUpgrade()" ontouchend="cancelUpgrade()">Cancel Upgrade</button></br>