<h1></br></br><div><span id="title">
Download complete! </br></br>Installation will begin shortly...</span></br></br></h1>

<h2>
<b><span id="percent">0</span>% Complete</b>
	</h2>
	<div class="progress" id="progressb" style="width:40%;">
		<div id= "progbar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
		</div>
	</div>

<img src="spacer.gif" onload="
    startInstallTimer();this.parentNode.removeChild(this);"/>
</div></br></h1>
