</br><h1>Upload Through Ethernet</h1></br></br><h2>
<?if net.ip="1.0.0.1" then?>
	<red>Invalid IP address detected. Please ensure that your device has been assigned a valid IP address.</red>	
<?else?>
	<ol class="center">
		<li>Press continue to proceed to the upload page.</li>
		<li>Open IO Ninja.</li>
		<li>Create a new TCP Connection Socket to your device (IP Address: <green><?sock.setdata(net.ip)?></green>, Port: <green>1000</green>)</li>
		<li>Click "File", "Browse" to the desired firmware file and press "Send".</li>
	</ol>
<?end if?>

</h2></br><button class="smallbutton" id="ethernet" onclick="loadDoc()" ontouchend="loadDoc()">Continue</button></br>
<button class="smallbutton" onclick="loadIndex()" ontouchend="loadIndex()">Main Menu</button>