</br><h1>Upload Through Serial</h1>
</br><h2><ol class="center">
	<li>Select the serial port you would like to transfer through.</li>
	<li>Select the baudrate at which you would like to transfer.</li>
	<li>Press continue to proceed to the upload page.</li>
	<li>Open IO Ninja.</li>
	<li>Create a new serial connection to your device at the same baudrate as you have selected.</li>
	<li>Click "File", "Browse" to the desired firmware file and press "Send".</li>
</ol></br>

Serial Port: <select method="ser" id="ser">
	<option value="1">1</option>><br>
	<option value="2">2</option>><br>
	<option value="3">3</option>><br>
	<option value="4">4</option>><br>
</select></br></br>

Baudrate: <select method="baud" id="baud">
	<option value="1200">1200</option>><br>
	<option value="2400">2400</option>><br>
	<option value="4800">4800</option>><br>
	<option value="9600">9600</option>><br>
	<option value="19200">19200</option>><br>
	<option value="38400">38400</option>><br>
	<option value="56000">56000</option>><br>
	<option value="57600">57600</option>><br>
	<option value="115200">115200</option>><br>
	<option value="128000">128000</option>><br>
	<option value="153600">153600</option>><br>
	<option value="230400">230400</option>><br>
	<option value="256000">256000</option>><br>
	<option value="460800">460800</option>><br>
	<option value="921600">921600</option>><br>
</select></h2>

</br><button class="smallbutton" onclick="loadDoc()" ontouchend="loadDoc()">Continue</button></br>
<button class="smallbutton" onclick="loadIndex()" ontouchend="loadIndex()">Main Menu</button>