</br><h1>Upload Through Bluetooth</h1></br>
<h2><ol class="center">
	<li>Press continue to proceed to the upload page.</li>
	<li>Then, begin the transfer of the firmware file via Bluetooth.</li>
</ol><h2></br>

<button class="smallbutton" id="ble" onclick="loadDoc()" ontouchend="loadDoc()">Continue</button></br>
<button class="smallbutton" onclick="loadIndex()" ontouchend="loadIndex()">Main Menu</button>