</br><h1>Upload Through Webpage</h1></br>
<h2><ol class="center">
	<li>Enter the URL of the webpage you would like to load the firmware from.</li>
	<li>Press continue to proceed to the upload page.</li>
</ol></br>

<input class="textbox" type="text" id="url" value="www.tibbo.com/downloads/open/tios_int_rel/WA2000_02_09.tcu"></br></br></h2>
	
</h2></br><button class="smallbutton" id="web" onclick="loadDoc()" ontouchend="loadDoc()">Continue</button></br>
<button class="smallbutton" onclick="loadIndex()" ontouchend="loadIndex()">Main Menu</button>