<h1></br><div>
<? 
include "global.tbh"
if current_upgrade_install_state.state=ok then?>
<green>Upgrade successful!</green>
<?else?>
<red>Upgrade failed!</br></br>
Please check firmware file</red>
<?end if?>

</br></br><button class="smallbutton" onclick="loadIndex()" ontouchend="loadIndex()">Main Menu</button>