<h1></br></br><div>
Upgrade cancelled!</br></br>
The system will reboot in <span id="time">30</span> seconds...
<img src="spacer.gif" onload="
    display = document.querySelector('#time');
    startRebootTimer(29, display);this.parentNode.removeChild(this);"/>
</div></br></h1>
<div id="reboot"></div>